/* grid styles */

.container {
	width: 100%;
	margin: 0 auto;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100%;
	display: flex;
	background-color: #;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.slider {
	width: 100%;
}


/* custom styles */

.col-1, .col-3, .col-4, 
.col-5, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12 {
	padding: 1%;
	border-style: groove;
	border-width: 1px; 
}

body {
	background-image: url(images/bg.jpg);
	font-family: Arial;
}

header {
	position: relative;
	background-color: rgba(173, 173, 173, 0.5);
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 3em; 
}

h3 {
	color: #DDDDDD;
	font-size: 1.15em; 
}

nav {
	text-align: center;
}

nav ul {
	position: relative;
	max-height: 100%;
}

.col-2 {
	display: inline-block;
}

nav a {
	display: block;
	text-decoration: none;
	vertical-align: middle;
	line-height: 1.5em;
	color: #000;
	padding: 1%;
}

nav ul li:hover {
	color: #D6D6D6;
	background-color: #000;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul li:hover > ul {
	color: #D6D6D6;
	display: inherit;
}

nav ul ul li {
	display: list-item;
	position: relative;
	min-width: 150px;
	background-color: #fff;
}

main {
	background-color: rgba(29, 149, 185, 0.10);
}
.vid {
	margin: auto;
}

video {
	align-self: center;
}

section {
	width: 60%;
	padding: 1.5%;
	display: inline-block;
	background-color: #242226;
}

section img {
	max-width: 100%;
}

aside {
	width: 30%;
	padding: 2%;
	float: right;
	word-wrap: break-word;
	font-size: 15px;
	
}

p {
	  font-size: 2vmin;
}

footer {
	text-align: center;
	background-color: #111111;
	padding: 10px;
}